  <section>
    <div class="item-1">
       <h3>Gif Search</h3>
        <div class="wrap">
            <div class="search">
               <input  type="text" [(ngModel)]="name"  name="search" class="searchTerm" #searchTerm placeholder="What are you looking for?">
               <select class="xp" [(ngModel)]="selectionModel" (change)="onChange()">
                <option [ngValue]="undefined" disabled selected>Choose Gif</option>
                <option *ngFor="let item of data" [ngValue]="item">{{item.name}}</option>
                <!-- <option value="2000">Dog</option>
                <option value="nt">Man</option>
                <option value="dos">Women</option>
                <option value="xp">FilmStart</option> -->
            </select >
               <button type="submit"  (click)="performSearch(searchTerm)" class="searchButton">
                 <i class="fa fa-search"></i>
              </button>
            </div>
         </div>
         <h6>You can search any gif with our search</h6>
         <div class="gif-paregraph">Everything you need for your creative projects, website, banner, presentations, magazines, and advertising.</div>
    </div>
    <div class="main-container">
        <ul class="grid-wrapper" *ngIf="giphies.length!=0">
           
            <li *ngFor="let g of giphies"> <img src="{{g.images.original.url}}" style="    width: 100%;
                max-width: 275px;
                height: 100%;
                max-height: 200px;
    min-height: 300px;
    background-color: #ccc9c9;
    padding: 0.5rem;

            "> </li>
           	
        </ul>
    </div>

</section>

<div class="footer">
    <div class="contain">
       
        

        <div class="footer-colgrid-2">
            <div class="col social">
                <h2>Sing up and get free content every week.</h2>
                <form>
                    <div class="row"> 
                      <input type="email" name="email" autocomplete="off" placeholder="email@example.com">
                      <button type="submit" class="login-btn">Sign Up</button>
                    </div>
                   
                  </form>

              
            </div>
            <div class="sociallink">
                <h2>Browse By Categories.</h2>
                <div class="col">
        
                    <ul>
                        <li>Graphics</li>
                        <li>P8ds</li>
                        <li>Icon</li>
                        <li>Templates</li>
                        <li>Get in touch</li>
                    </ul>
                    </div>
                    <div class="col">
                
                    <ul>
                        <li>Addon</li>
                        <li>Form</li>
                        <li>Textboxes</li>
                        <li>Pattern</li>
                        <li>Background</li>
                    </ul>
                    </div>
                    <div class="col">
                    
                    <ul>
                        <li>Buttons</li>
                        <li>Forms</li>
                        <li>GUI</li>
                        <li>Navigators</li>
                        <li>UI Kits</li>
                    </ul>
                    </div>
                    <div class="col">
                    
                    <ul>
                        <li>Infographics</li>
                        <li>Graph</li>
                        <li>Logos</li>
                        <li>Site map</li>
                        <li>Buttons Cards</li>
                        
                    </ul>
                    </div>
            </div>
        </div>
   
 
  <div class="clearfix"></div>

 
  </div>

  <div class="copyright-area">
    <div class="footer-menu">
        <ul>
            <li><a>Home</a><span>/</span></li>
            <li><a>Terms</a><span>/</span></li>
            <li><a>Privacy</a><span>/</span></li>

            <li><a href="#">Contact</a></li>
        </ul>
        <div class="copyright-text">
            <p>Copyright &copy; 2018,mycompany All Right Reserved </p>
        </div>
    </div>
    <div class="copyright-menue">
        <div class="footer-social-icon">
          
            <a  class="facebook-bg"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a  class="facebook-bg"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a  class="facebook-bg"> <i class="fa fa-google-plus" aria-hidden="true"></i></a>
            <a class="facebook-bg">
                <i class="fa fa-wifi" aria-hidden="true"></i></a>


        </div>
    </div>
   
  </div>
  </div>